# Problem Statement

[An article in the Dallas Observer](https://www.dallasobserver.com/restaurants/dallas-restaurant-inspections-suffer-from-delays-poor-record-keeping-and-overworked-staff-10697588) unearthed a massive problem in the city's ability to follow up on restaurants requiring reinspection due to a low grade upon original inspection.  Dallas states that out of a scale from 1-100, any facility that scores between 70-79 requires reinspection within 30 days, between 60-69 requires reinspection within 10 days, and below 60 requires reinspection ASAP.

The article points out many flaws in the city's ability to reinspect restaurants within its own self-imposed timeframes,.  Until the department can hopefully become better-staffed, I am looking to build a classification model that can predict how a restaurant will perform upon reinspection.  This way, if the city is still struggling to reinspect restaurants in a timely manner, they can refer to the model in order to prioritize certain facilities to reinspect.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, GridSearchCV

%matplotlib inline

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
df = pd.read_csv('./data/Restaurant_and_Food_Establishment_Inspections__October_2016_to_Present_.csv')

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10,97,103,105,106,107,109,110) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Direction,Street Type,Street Unit,Street Address,...,Violation Points - 24,Violation Detail - 24,Violation Memo - 24,Violation Description - 25,Violation Points - 25,Violation Detail - 25,Violation Memo - 25,Inspection Month,Inspection Year,Lat Long Location
0,FRESHII,Routine,10/31/2018,96,2414,VICTORY PARK,NaN,LN,NaN,2414 VICTORY PARK LN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2018,FY2019,"2414 VICTORY PARK LN\n(32.787625, -96.809294)"
1,MICKLE CHICKEN,Routine,10/30/2019,100,3203,CAMP WISDOM,W,RD,NaN,3203 W CAMP WISDOM RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2019,FY2020,"3203 W CAMP WISDOM RD\n(32.662584, -96.873446)"
2,WORLD TRADE CENTER MARKET,Routine,11/03/2016,100,2050,STEMMONS,N,FRWY,NaN,2050 N STEMMONS FRWY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nov 2016,FY2017,"2050 N STEMMONS FRWY\n(32.801934, -96.825878)"
3,DUNKIN DONUTS,Routine,10/30/2019,99,8008,HERB KELLEHER,NaN,WAY,C2174,8008 HERB KELLEHER WAY STE# C2174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2019,FY2020,8008 HERB KELLEHER WAY STE# C2174
4,CANVAS HOTEL - 6TH FLOOR,Routine,06/11/2018,100,1325,LAMAR,S,ST,NaN,1325 S LAMAR ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jun 2018,FY2018,"1325 S LAMAR ST\n(39.69335, -105.067425)"

In [24]:
df.isnull().sum()

Restaurant Name             11
Inspection Type              0
Inspection Date              0
Inspection Score             0
Street Number                0
                         ...
Violation Detail - 25    44654
Violation Memo - 25      44653
Inspection Month             0
Inspection Year              0
Lat Long Location            0
Length: 114, dtype: int64

Since this project is based on NLP, I will be merging all of the violation detail, description, and memo columns, which should handle the nulls.  Any leftover nulls after that merge likely relate to a restaurant having no violations to note, which is important data.  11 restaurant names are null.  If there is an address given, I will probably keep them.  Additionally, I will merge the address columns with names to help the model account for different locations of the same restaurant.

In [56]:
df['Inspection Date'] = pd.to_datetime(df['Inspection Date'])

In [58]:
df.shape

(44656, 114)

In [59]:
df.loc[df['Restaurant Name'].isnull()]

,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Direction,Street Type,Street Unit,Street Address,...,Violation Points - 24,Violation Detail - 24,Violation Memo - 24,Violation Description - 25,Violation Points - 25,Violation Detail - 25,Violation Memo - 25,Inspection Month,Inspection Year,Lat Long Location
20592,NaN,Routine,2018-02-21,86,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feb 2018,FY2018,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
21643,NaN,Routine,2017-08-28,87,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug 2017,FY2017,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
24064,NaN,Routine,2017-07-28,87,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jul 2017,FY2017,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
24612,NaN,Routine,2018-08-06,91,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug 2018,FY2018,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
26713,NaN,Routine,2017-02-02,88,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feb 2017,FY2017,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
33050,NaN,Routine,2017-11-27,80,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nov 2017,FY2018,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"
34370,NaN,Routine,2018-06-13,87,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jun 2018,FY2018,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
39616,NaN,Routine,2018-05-22,92,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May 2018,FY2018,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"
43261,NaN,Routine,2017-05-31,91,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May 2017,FY2017,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"
43934,NaN,Routine,2018-01-03,84,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 2018,FY2018,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
44450,NaN,Routine,2016-12-20,88,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec 2016,FY2017,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"

In [60]:
df.loc[df['Street Number'] == 4243]

,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Direction,Street Type,Street Unit,Street Address,...,Violation Points - 24,Violation Detail - 24,Violation Memo - 24,Violation Description - 25,Violation Points - 25,Violation Detail - 25,Violation Memo - 25,Inspection Month,Inspection Year,Lat Long Location
4333,WILLIAMS CHICKEN,Routine,2019-08-14,94,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug 2019,FY2019,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
10552,WILLIAMS CHICKEN,Routine,2020-02-12,92,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feb 2020,FY2020,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
14015,WILLIAMS CHICKEN,Routine,2019-02-11,97,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feb 2019,FY2019,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
20592,NaN,Routine,2018-02-21,86,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feb 2018,FY2018,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
21643,NaN,Routine,2017-08-28,87,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug 2017,FY2017,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
24612,NaN,Routine,2018-08-06,91,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug 2018,FY2018,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"
26713,NaN,Routine,2017-02-02,88,4243,WESTMORELAND,S,RD,NaN,4243 S WESTMORELAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feb 2017,FY2017,"4243 S WESTMORELAND RD\n(32.691613, -96.880689)"

The NaN restaurants could refer to a previous restaurant at the same location, so I may want to avoid imputation.

In [61]:
df.loc[df['Street Number'] == 8686]

,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Direction,Street Type,Street Unit,Street Address,...,Violation Points - 24,Violation Detail - 24,Violation Memo - 24,Violation Description - 25,Violation Points - 25,Violation Detail - 25,Violation Memo - 25,Inspection Month,Inspection Year,Lat Long Location
339,DONUT TOWN,Routine,2018-11-23,98,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nov 2018,FY2019,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"
32431,DONUT TOWN,Routine,2018-05-22,92,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May 2018,FY2018,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"
33050,NaN,Routine,2017-11-27,80,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nov 2017,FY2018,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"
39616,NaN,Routine,2018-05-22,92,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May 2018,FY2018,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"
43261,NaN,Routine,2017-05-31,91,8686,FERGUSON,NaN,RD,#210,8686 FERGUSON RD #210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May 2017,FY2017,"8686 FERGUSON RD #210\n(32.812751, -96.698799)"

In [62]:
df.loc[df['Street Number'] == 6449]

,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Direction,Street Type,Street Unit,Street Address,...,Violation Points - 24,Violation Detail - 24,Violation Memo - 24,Violation Description - 25,Violation Points - 25,Violation Detail - 25,Violation Memo - 25,Inspection Month,Inspection Year,Lat Long Location
8299,FRANKIE'S FOOD MART,Routine,2019-12-09,87,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec 2019,FY2020,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
17424,FRANKIE'S FOOD MART,Routine,2018-12-04,81,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec 2018,FY2019,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
24064,NaN,Routine,2017-07-28,87,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jul 2017,FY2017,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
34370,NaN,Routine,2018-06-13,87,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jun 2018,FY2018,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
43934,NaN,Routine,2018-01-03,84,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 2018,FY2018,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"
44450,NaN,Routine,2016-12-20,88,6449,GREENVILLE,NaN,AVE,NaN,6449 GREENVILLE AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec 2016,FY2017,"6449 GREENVILLE AVE\n(32.863098, -96.767426)"

In [63]:
df.loc[df[df.columns[3:]].duplicated()].sort_values(by = "Inspection Date")

,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Direction,Street Type,Street Unit,Street Address,...,Violation Points - 24,Violation Detail - 24,Violation Memo - 24,Violation Description - 25,Violation Points - 25,Violation Detail - 25,Violation Memo - 25,Inspection Month,Inspection Year,Lat Long Location
19659,ONE MAIN PLACE LEVEL B1 KITCHEN,Routine,2016-10-06,100,1201,MAIN,NaN,ST,NaN,1201 MAIN ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"1201 MAIN ST\n(41.024999, -81.430786)"
26891,ONE MAIN PLACE 2nd FLOOR BAR,Routine,2016-10-06,100,1201,MAIN,NaN,ST,NaN,1201 MAIN ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"1201 MAIN ST\n(41.024999, -81.430786)"
7273,LIFE CHARTER SCHOOL,Routine,2016-10-25,100,4400,RL THORNTON,S,FRWY,NaN,4400 S RL THORNTON FRWY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"4400 S RL THORNTON FRWY\n(32.691296, -96.822673)"
9049,FIESTA MART #74 BAKERY,Routine,2016-10-26,100,11445,GARLAND,NaN,RD,NaN,11445 GARLAND RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"11445 GARLAND RD\n(32.850702, -96.681525)"
13715,BAYLOR UNIVERSITY MED CTR DISHROOM,Routine,2016-10-26,100,3500,GASTON,NaN,AVE,NaN,3500 GASTON AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"3500 GASTON AVE\n(32.342322, -86.31818)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7041,CC YOUNG (ADULT DAY CARE LEVEL 1),Routine,2020-04-03,100,4849,LAWTHER,W,DR,NaN,4849 W LAWTHER DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr 2020,FY2020,"4849 W LAWTHER DR\n(32.85442, -96.730528)"
8624,CC YOUNG LEVEL 7 (SKILLED NURSING CAFE),Routine,2020-04-03,100,4849,LAWTHER,W,DR,NaN,4849 W LAWTHER DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr 2020,FY2020,"4849 W LAWTHER DR\n(32.85442, -96.730528)"
6979,CC YOUNG LEVEL 8 (SKILLED NURSING CAFE),Routine,2020-04-03,100,4849,LAWTHER,W,DR,NaN,4849 W LAWTHER DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr 2020,FY2020,"4849 W LAWTHER DR\n(32.85442, -96.730528)"
6998,TOM THUMB-BAKERY,Routine,2020-04-08,100,2380,FIELD,N,ST,NaN,2380 N FIELD ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr 2020,FY2020,"2380 N FIELD ST\n(32.78904, -96.806882)"
6898,TOM THUMB - CHEESE BAR,Routine,2020-04-08,100,2380,FIELD,N,ST,NaN,2380 N FIELD ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr 2020,FY2020,"2380 N FIELD ST\n(32.78904, -96.806882)"

In [69]:
df = df.sort_values(by = 'Inspection Date')

In [73]:
df.reset_index(inplace = True)

In [64]:
df['Inspection Type'].value_counts()

Routine      43990
Follow-up      641
Complaint       25
Name: Inspection Type, dtype: int64

In [74]:
follow_ups_df = df.loc[df['Inspection Type'] == 'Follow-up']

In [101]:
restaurants = list(follow_ups_df['Restaurant Name'])

In [106]:
follow_ups_df

,index,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Direction,Street Type,Street Unit,...,Violation Points - 24,Violation Detail - 24,Violation Memo - 24,Violation Description - 25,Violation Points - 25,Violation Detail - 25,Violation Memo - 25,Inspection Month,Inspection Year,Lat Long Location
51,21062,THAI THAI,Follow-up,2016-10-05,82,1731,GREENVILLE,NaN,AVE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"1731 GREENVILLE AVE\n(32.812007, -96.770206)"
62,18705,TOMORROW SEAFOOD & CHICKEN,Follow-up,2016-10-05,90,3200,LANCASTER,S,RD,#742A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"3200 S LANCASTER RD #742A\n(32.708127, -96.801..."
140,44578,ZENNA,Follow-up,2016-10-07,80,3950,ROSEMEADE,NaN,PKWY,#100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"3950 ROSEMEADE PKWY #100\n(33.010437, -96.84581)"
141,29436,POPEYES,Follow-up,2016-10-07,94,18311,MARSH,NaN,LN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"18311 MARSH LN\n(32.999855, -96.855923)"
145,18296,RAVENNA,Follow-up,2016-10-10,85,115,FIELD,S,ST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2016,FY2017,"115 S FIELD ST\n(33.235904, -96.795985)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43981,4077,TAQUERIA'S ROJAS,Follow-up,2020-03-09,80,1328,JIM MILLER,N,RD,#101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar 2020,FY2020,"1328 N JIM MILLER RD #101\n(32.73556, -96.700079)"
43992,3261,LITTLE KATANA,Follow-up,2020-03-09,80,4525,COLE,NaN,AVE,#160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar 2020,FY2020,"4525 COLE AVE #160\n(32.822383, -96.789342)"
44129,8631,FRUTERIA Y NIEVERIA COCO'S,Follow-up,2020-03-16,88,6212,SAMUELL,NaN,BLVD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar 2020,FY2020,"6212 SAMUELL BLVD\n(32.792147, -96.698279)"
44230,7131,RESTAURANT LEYLITA #2,Follow-up,2020-03-19,86,2330,ROYAL,NaN,LN,#600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar 2020,FY2020,"2330 ROYAL LN #600\n(32.895564, -96.900756)"
44555,7199,KNOCKOUT SPORTS BAR LLC,Follow-up,2020-04-02,79,2212,NORTHWEST,W,HWY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr 2020,FY2020,"2212 W NORTHWEST HWY\n(32.863887, -96.898352)"

In [67]:
# Filter on follow-up only
# Match them with their routine
# put them side by side

# add success metric and models to problem statement
# finish EDA